.wrapper {
    --border-color: #d1d1d1;

    display: block;
    margin-top: 4px;
    // padding: 30px;
    background-color: #e9e9e9;
}

.inner {
    background-color: #fff;
    padding: 10px 36px;
}

.table-name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 700;
    padding: 10px 16px;
    border-bottom: 1px solid #d1d1d1;
}

.box-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-group {
    margin-top: 16px;
    flex-basis: 49%;

    input {
        width: 100%;
        height: 40px;
        font-size: 1.4rem;
        color: var(--text-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        padding: 12px;
        margin-top: 4px;
    }

    span{
        margin-top: 2px;
        font-size: 1.2rem;
        color: red;
        line-height: 1.4rem;
    }
    
    label {
        font-size: 1.4rem;
        position: relative;
    
        &::after {
            content: '*';
            position: absolute;
            color: red;
            right: -9px;
            top: -1px;
        }
    }
}

.box-header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .header-btn{
        font-size: 1.4rem;
        color: var(--white);
        text-transform: uppercase;
        width: 122px;
        border-radius: 3px;
        background-color: red;
        margin-right: 20px;
    }
}

.header-name{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 16px;
}

.ctrl-create{
    display: flex;
    justify-content: flex-start;

    .control-btn {
        font-size: 1.4rem;
        color: var(--white);
        margin-top: 20px;
        margin-bottom: 30px;
        width: 162px;
        border-radius: 3px;
        background-color: #1976d2;
    }
}

.form-select{
    margin-top: 16px;
    width: 49%;

    select{
        width: 100%;
        height: 40px;
        font-size: 1.4rem;
        color: var(--text-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        padding: 12px;
        margin-top: 4px;
    }

    span{
        margin-top: 2px;
        font-size: 1.2rem;
        color: red;
        line-height: 1.4rem;
    }
}

.form-textarea{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description{
    width: 100%;
    height: 100px;
    font-size: 1.4rem;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px;
    margin-top: 4px;
    outline: none;
}

.upload{
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    label{
        font-weight: 600;
    }

    input{
        margin-top: 8px;
        font-size: 1.4rem;
        color: var(--text-color);
    }

    span{
        margin-top: 2px;
        font-size: 1.2rem;
        color: red;
        line-height: 1.4rem;
    }
}

.thumb{
    margin-top: 10px;
    display: flex;
}

.thumb-img{
    width: 160px;
    margin-right: 10px;
    object-fit: contain;
}

.preview-img{
    position: relative;
}
